#btn {
    color: #F88634;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    opacity: 1;
    width: 100%;
}

.bs {
 margin:10%;
 margin-top: 45%;
    
}

.form-control {
    width: 401px;
    height: 56px;
}

.rk {
    margin: 10%;
    margin-top: 60%;
}

.m1 {
    width: 592px;
    height: 109px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.m2 {
    width: 849px;
    height: 120px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.cont {
    margin-left: -40px;
}

.fp{
    font-size: 22px;
}

.p1{
    margin: 9%;
    margin-top: 50%;
}

.n1{
    margin: 9%;
    margin-top: 10%;
}